*{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

body{
    background-color: #36384d;
    display: flex;
    justify-content: center;
}

.container{
    background-color: #fff;
    padding: 2em;
    max-width: 70%;
    border-radius: 2em;
}

/* Typography */
h1{
    font-size: 3rem;
}
/* End of typography */

.main{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5em;
    width: 100%;
    gap: 2em;
}

/* List items */
ul{
    display: flex;
    flex-direction: column;
    gap: 1.2em;
}
/* End of list items */


/* Form */
form{
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    width: 100%;
}

.form-info{
    display: flex;
    flex-direction: column;
    gap: .5em;
}

button, input{
    padding: 1em;
    border-radius: .7em;
    border: .1em solid;
    cursor: pointer;
}

button{
    background-color: #36384d;
    color: #fff
}

button:hover{
    background: linear-gradient(90deg, #ff5475, #ff5f57);
}
/* End of Form */

/* Success message */
.emailsuccess{
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 1em;
    border-radius: 2.5em;
}
.success-icon{
    max-width: 15%;
}
/* End of success message */